#errorContainer {
    align-items: center;
}

.hide {
    display: none;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}